@CHARSET "UTF-8";

.query_wrapper{
	position: relative;
	width:100%;
	float:right;
	border: 2px solid black;
	padding:10px;
	clear: both;
}

.btn{
	padding:5px;
	margin:5px;
}

.join_button_wrapper{
	position: relative;
	width:100%;
	float:right;
	padding:10px;
	clear: both;
	margin:10px;
}

.group_button_wrapper{
	position: relative;
	width:100%;
	float:right;
	padding:10px;
	clear: both;
	margin:10px;
}

.sort_button_wrapper{
	position: relative;
	width:100%;
	float:right;
	padding:10px;
	clear: both;
	margin:10px;
}

#main_wrapper{
	position:relative;
}

#all_joins{
	
}

.join_wrapper{
	position: relative;
	width:100%;
	border: 2px solid black;
	padding:10px;
	clear: both;
}

#all_queries{
	width:100%;
	clear: both;
}

.results_wrapper{
	position: relative;
	padding:10px;
	width:100%;
	border: 2px solid black;
	background-color:#E6FFE6;
	clear: both;
}

.in_wrapper{
	background-color:#E6FFE6;
	width:75%;
	padding:10px;
}

h1{
	padding:5px;
	margin:0px;
	float:left;
	display:block;
}

p{
	display:inline;
	margin:0px;
	padding: 0 px;
}

#busy{
	background-color:#FF6666;
	top: 300px;
	border: 4px dotted black;
	position:fixed;
	text-align:center;
	z-index:9999;
}

.table_content {
	background-color:#E6FFE6;
	width:100%;
}
.table_wrapper {
	width:100%;
	}

.field_content {
	background-color:#B8E68A;
	width:100%;
}

.field_wrapper {
	width:75%;
	}
	
.sample_content {
	background-color:#FFFFA7;
	width:100%;
}

.sample_wrapper {
	width:75%;
}	
	
.overview{
	padding:3px;
	float:right;
}

}